.input {
    display: flex;
    width: 100%;
    position: relative;
    align-items:center;
}


.input__box {
    width:100%;
    overflow-wrap: break-word;
    border-radius: 50px;
    padding: 20px 30px;
    font-size: 25px;
    border: solid;
    transition: 0.2s;
    margin: 10%;
    box-shadow: inset 0 0 5px black;
}

.input__box:focus {
    box-shadow: 0 0 10px 1000px rgba(0,0,0,0);
    outline:none;
}

.input_submit {
    position: relative;
    width: 50px;
    height: auto;
    margin: 12px;
    margin-top: 10%;
    margin-bottom: 10%;
    border-radius: 10px;
    right: 0px;
    border: none;
    font-size: 15px;
    background-color: #464E6B;
    color: white;
    transition: 0.2 all;
    box-shadow: 0 0 10px black;
}

.input_submit:hover {
    background-color: #9CA2B8;
}

.input_submit:active {
    transform: scale(0.8);
    box-shadow: 0 0 5px black
}

.container {
    float: right;
    display:inline-block;
    width:60%;
    margin-top: 10px;
    text-align:center;
}
.inContainer {
    float: left;
    display:inline-block;
    width:40%;
    margin-top: 10px;
    text-align:center;
}

.todos__heading {
    color:white;
    font-size:30px;
}

.todos {
    display: inline-block;
    width: 85%;
    margin:10px;
    align-items:center;
    text-align:center;
    flex-direction:column;
    padding:15px;
    border-radius: 15px;
    background-color: #787366;
    vertical-align:top;
}


.todos__single{
    display:flex;
    border-radius:5px;
    padding: 20px;
    overflow-wrap: break-word;
    margin-top:15px;
    margin:10px;
    text-align: left;
    /*background-image: url("https://img.freepik.com/free-vector/gray-fluid-marble-texture-background_1017-37104.jpg?t=st=1656387480~exp=1656388080~hmac=7e9e497e36eb9195c7d325e30eebcbe8f720745f4c83f42cb1a1fbe57a0c25c8&w=996");*/
    background-color: #C4BCA7;
    transition:0.2s;
}
.todos__single:hover{
    box-shadow: 0 0 5px black;
    transform: scale(1.03);
}
.todos__single--text{
    flex: 1;
    overflow-wrap: break-word;
    width:90%;
    padding:5px;
    border:none;
    font-size:20px;
}
.todos__single--text:focus{
    outline:none;
}
.icon {
    margin-left:10px;
    font-size:25px;
    cursor:pointer;
}
.remove {
    background-color: #787366;
}
.dragactive {
    background-color: #383630;
}
.dragcomplete {
    background-color: #383630;
}

.drag {
    box-shadow: 0 0 1000px black;
}

@media (max-width: 1200px) {
    .todos__single {
        width: 90%;
    }
}
@media (max-width: 1100px) {
    .todos {
        width: 90%;
    }
}
@media (max-width: 800px) {
    .input {
        width:100%;
    } 
    .container{
        display:flex;
        width:100%;
        margin-top: 3px;
        justify-content:center;
        align-items:center;
        flex-direction: column;
    }
    .inContainer {
        width: 100%;
    }
    .todos {
        justify-content:center;
        align-items:center;
        width:80%;
        margin: 10px;
        padding:5px;
    }
    .todos__single {
        width: 90%;
        padding: 10px;
    }
}
